// Main Styles

// See the other SASS partials for typography, variables etc.
// CSS Grid is used for the layout with fallbacks for less capable browsers
// declared beforehand, and a @supports feature query to reset fallbacks when
// necessary. https://rachelandrew.co.uk/css/cheatsheets/grid-fallbacks

html {
  font-size: 10px;
}


header {
  display: flex;
  padding: 0rem 1.5rem;
  height: 10rem;
  h1 {
    padding-bottom: 0;
  }
  & > div {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    width: 100%;
  }
  nav {
    ul {
      float: right;
      display: flex;
      li {
        margin-right: 2rem;
        display: inline-block;
        @media screen and (min-width: $screen-sm-min) {
          margin-right: 0;
        }
        a,
        a:visited {
          text-decoration: none;
          border: 0;
          @media screen and (min-width: $screen-sm-min) {
            padding: 1rem;
          }
          &[data-current="current page"] {
            // you can add an active nav item style here
          }
        }
      }
    }
  }
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}



/** HOME PAGE **/
.home__row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: calc(100vh - 200px);
  align-items: center;


  @media screen and (max-width: $screen-sm-min) {
    grid-template-columns: 1fr;
  }
  img {
    height: 500px;
    width: auto;
    margin: 0 auto;
  }
  .home__intro {
    @include center-vertically();
    padding: 3rem;
    p {
      font-size: 1.6rem;
    }
  }
}


/** FOOTER **/
footer {
  @include center-vertically();

  width: 100vw;
  height: 10rem;
  color: black;

  .footer__social {
    display: flex;
    flex-direction: row;
    width: 100%;
    .social__icon {
      margin: 1rem 0.5rem;
      border-radius: 100px;
      border: 2px solid black;
      padding: 1rem;
      img {
        height: 20px;
      }

    }
  }
}
