---
layout: default
---

<div class="container">
  {% include page-intro.html %} {{ content }}
  <section class="portfolio__grid">
    {% for porfolio_item in site.pages %} {% if porfolio_item.layout == 'porfolio_item' %}

    <a href="{{porfolio_item.link}}">
      <div>
        <img src="{{porfolio_item.image}}" />
        <h1>{{porfolio_item.title}}</h1>
        <p>{{porfolio_item.categories}}</p>
        <p>{{porfolio_item.details}}</p>
      </div>
    </a>
    {% endfor %}
  </section>
</div>
