---
layout: default
---

<div class="container">
  <h1>{{ page.title}}</h1>
  {% include page-intro.html %} {{ content }}
  <section class="portfolio__grid">
    {% for portfolio_item in site.pages %} {% if portfolio_item.layout ==
    'portfolio_item' %}
    <a href="{{portfolio_item.url}}">
      <article class="item">
        <h2>{{portfolio_item.title}}</h2>
        <p>{{portfolio_item.categories}}</p>
        <img src="{{portfolio_item.image}}" />
      </article>
    </a>
    {% endif %} {% endfor %}
  </section>
</div>
